out/
*.o
*.o.cmd
*.a
*.a.cmd
*.ko
*.ko.cmd
*.mod
*.mod.c
*.mod.cmd
*.order
*.symvers
.tmp_*
.cache.mk
.config
.config.old
builds/
diagnostics/
*.dtb
*.dtbo.img
*.img
*.zip
vmlinux
*.pyc
__pycache__/
*.swp
*~
